<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="d-flex flex-column align-items-center text-center">
        <img
          class="rounded-5 mt-5"
          width="250px"
          height="200px"
          src="../../../../assets/img/doc.jpg"
        /><span class="font-weight-bold"> {{ docObj.name }} </span
        ><span class="text-black-50"> {{ docObj.email }} </span><span> </span>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 mt-2">
            <b class="labels">Name: </b> <span> {{ docObj.name }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Email: </b> <span> {{ docObj.email }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Mobile Number: </b>
            <span> {{ docObj.phone }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Gender: </b>
            <span> {{ docObj.gender }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Price: </b>
            <span> {{ docObj.price.toString() | currency : "EGP  " }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Clinic Name: </b>
            <span> {{ docObj.clinicId.name }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Speciality: </b>
            <span> {{ docObj.speciality }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Years of Experience: </b>
            <span> {{ docObj.yearsOfExperience }} </span>
          </div>

          <div class="col-md-12 mt-2">
            <b class="labels">Address: </b>
            <span> {{ docObj.address.city }} </span>
            <span> {{ docObj.address.street }} </span>
            <span> {{ docObj.address.building }} </span>
          </div>
        </div>
      </div>
      <div class="mt-5 col-md-12">
        <button class="btn btn-primary profile-button mx-5" type="button">
          <a [routerLink]="['/profile/doctor/', 'update', docObj._id]"
            routerLinkActive="router-link-active"
            >Update Your Profile</a
          >
        </button>
        <button class="btn btn-primary profile-button mx-5" type="button">
          <a
            [routerLink]="['/profile/doctor/', 'appointment', docObj._id]"
            routerLinkActive="router-link-active"
            >My Appointments</a
          >
        </button>
        <button class="btn btn-primary profile-button mt-2 mx-5" type="button">
          <a
            [routerLink]="['/profile/doctor/', 'calender', docObj._id]"
            routerLinkActive="router-link-active"
            >Get Calener</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
