<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 border-right">
      <div class="d-flex flex-column align-items-center text-center">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold"> {{ empObj.name }} </span
        ><span class="text-black-50"> {{ empObj.email }} </span><span> </span>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>

        <div class="row mt-2">
          <div class="col-md-12 mt-2">
            <b class="labels">Name: </b> <span> {{ empObj.name }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Email: </b> <span> {{ empObj.email }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Mobile Number: </b>
            <span> {{ empObj.phone }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Gender: </b>
            <span> {{ empObj.gender }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Salary: </b>
            <span> {{ empObj.salary.toString() | currency : "EGP  " }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Clinic Name: </b>
            <span> {{ empObj.clinicId.name }} </span>
          </div>
          <div class="col-md-12 mt-2">
            <b class="labels">Hiring Date: </b>
            <span> {{ empObj.hireDate | date : "dd / MM / yyyy" }} </span>
          </div>

          <div class="col-md-12 mt-2">
            <b class="labels">Address: </b>
            <span> {{ empObj.address.city }} </span>
            <span> {{ empObj.address.street }} </span>
            <span> {{ empObj.address.building }} </span>
          </div>
        </div>
      </div>
      <div class="mt-5 col-md-12">
        <button class="btn btn-primary profile-button mx-5" type="button">
          <a
            [routerLink]="['/profile/employee/', 'update', empObj._id]"
            routerLinkActive="router-link-active"
            >Update Your Profile</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
